@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

body {
	font-family: 'Walter Turncoat', cursive, serif;
}

.blocktype {
	clear: left;
}

.blocktype:after {
	content: "";
	display: table;
	clear: both;
}

.block {
	position: relative;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	border-radius: 10px;
	float: left;
	margin: 10px;
}

.block .name {
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
	height: 15px;
	padding: 3px;
}

.block .emoji {
	text-align: center;
	font-size: 32px;
	line-height: 43px;
	width: 46px;
	height: 45px;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
}

.block .barcode {
	position: absolute;
	bottom: 0px;
	text-align: center;
	margin: 0px 6px;
}
